h2{
    color: black;
    font-size: larger;
    font-family: 'IBM Plex Sans', sans-serif;
}
p{
    color: black;
    font-size: medium;
    font-family: 'IBM Plex Serif', serif;
    position: center;

}
#news{
    margin: auto;
    width: 50%;
    border-bottom: 1px solid;
    background-color: lightgrey;
}
form{
    position: center;
    padding: 6px;
    border: none;
    font-size: large;
    font-family: "IBM Plex Serif";
}